<div class="container">
    <div class="row" style="direction: rtl; width: 80%;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand"  routerLink="/">أســـلامـــــي</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active"  routerLink="/quran" > القران الكريم</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  routerLink="/duas">الادعـــيـــه</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link"  routerLink="/azkar" >الاذكــــــــــار</a>
                  </li>
                </ul>
              </div>
             </div> 
          </nav>

          
    </div>
</div>



